$whiteColor: #e3e9ef;
$lightColor: #b9c3cf;
$blackColor: #0f1015;
$darkColor: #434656;
$grayColor: #878180;
$blueColor: #3c5d95;

$primaryColor: #081029;
$secondaryColor: #0092ff;

$backgroundColor: #f4f8fb;
$textColor: #576875;
$borderColor: #dfe6ec;
